<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-4"></div>
    <div class="col">
      <h1 class="mt-4 mb-4">R.S.V.P</h1>

      <!--<div style="text-align: center">-->
      <!--<p>Dean & Grace Martin <br/> and <br/>Daniel & Debbie D'Agostino<br/>Invite you to celebrate with their children-->
      <!--<br/> Erica & Bryan <br/> On their wedding day <br/> Friday September 20 2019 <br/> 6:00pm at Landerhaven</p>-->
      <!--</div>-->

      <form [formGroup]="rsvpSearchForm">
        <div class="form-group">
          <div class="input-group">
          <input id="invitationCode" type="text" class="form-control" placeholder="Invitation Code"
                 formControlName="invitationCode" required/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" (click)="searchForInvitation()">Next</button>
          </span>
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="rsvpSearchForm.get('invitationCode').invalid && rsvpSearchForm.get('invitationCode').touched">
            Invitation Code is required
          </div>
          <p>Enter the code which can be found in your invitation</p>
        </div>
      </form>


      <div class="alert alert-danger" role="alert" *ngIf="errorMessage!=null">
        <div><i class="fa fa-exclamation-triangle fa-3x"></i></div>
        <strong>Oh snap! {{errorMessage}}</strong>
        <p>Please check your Invitation and try again. If the problem persists please call
          and let one of us know.</p>
      </div>

      <div class="mt-5">
        <h2 style="text-align: center">Unplugged Ceremony</h2>
        <p >We ask that all of our guests help keep our ceremony technology free! Please no
          cell phone, tablet, or
          personal
          photography.
          We want to give our professional photographer the best shots possible and we will be more than happy to share
          these photos after the wedding.</p>
      </div>

      <div style="text-align: center">
        <h3 class="mt-4">Please RSVP by August 30th 2019</h3>
      </div>


    </div>
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-4"></div>
  </div>
</div>
