/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
  color: white;
  background-color: #1b3e5e;
  background-image: url(assets/img/retina-wood.png);
}

nav {
  background-color: silver;
  color: black;
}
