<div class="container-fluid">
  
  <div class="row story">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col story-text">
      <h2>Brooke</h2>
      <h4>(Maid Of Honor)</h4>
      <p>Brooke and I met in 1994 and we have been best friends ever since. Over the years we did everything together from family trips to Disney world to yearly
        vacations to Outer Banks. She is the one person I can turn to no matter the situation. We have always
        had a strong bond and there’s no one else I rather have as my maid of honor.</p>
    </div>
    <div class="col">
      <img class="img-fluid mx-auto story-image" [src]="maidOfHonorImage" alt="Sorry! Unable to load image">
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col">
      <hr style="border-color:white;"/>
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row story">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col">
      <img class="img-fluid mx-auto story-image" [src]="bridesmaid1" alt="Sorry! Unable to load image">
    </div>
    <div class="col story-text">
      <h2>Colleen</h2>
      <p>Growing up I always looked up to Colleen as a big sister rather then a cousin. As we get older she has become
        one of my closest friends and has always had my back. I am blessed to have her by my side.</p>
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col">
      <hr style="border-color:white;"/>
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row story">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col story-text">
      <h2>Ashley</h2>
      <p>Ashley actually knew Bryan years before I knew her. Bryan and Ashley met in high school and were in the same
        graduating class. Through mutual friends and working at the Twinsburg fitness Center together we became close
        friends. Over the years we have had countless nights drinking wine and having heart to heart
        conversations.</p>
    </div>
    <div class="col">
      <img class="img-fluid mx-auto story-image" [src]="bridesmaid2" alt="Sorry! Unable to load image">
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col">
      <hr style="border-color:white;"/>
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>
  
  <div class="row story">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col">
      <img class="img-fluid mx-auto story-image" [src]="bridesmaid3" alt="Sorry! Unable to load image">
    </div>
    <div class="col story-text">
      <h2>Amanda</h2>
      <p>Amanda is more then Bryan’s sister, she is a friend. We always have a good time when we are together and she
        is the little sister I’ve always wanted. I am so honored she is standing by my side at my wedding and I can’t
        wait to get closer in the years to come.</p>
    </div>
    <div class="col-0 col-sm-1 col-md-2"></div>
  </div>

</div>
